.description {
  color: rgb(114, 111, 111);
  font-weight: 700;
  padding: 20px 30px;
  text-align: center;
  border-bottom: 1px solid darkgray;

  .title {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
  }
}
