.stats {
  text-align: center;
  border: 1px solid darkgray;
  width: fit-content;
  border-radius: 4px;
  overflow: hidden;
}
.title {
  padding: 30px;
  color: rgb(126, 122, 122);

  font-size: 16px;
  margin: 0;
  border-bottom: 1px solid darkgray;
}
