.status {
  display: block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.online {
  @extend .status;
  background-color: green;
}
.offline {
  @extend .status;
  background-color: red;
}
